<style>
	h1, p {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.8em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	p {
		margin: 1rem auto;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}
</style>

<svelte:head>
	<title>IndicJS</title>
</svelte:head>

<h1>IndicJS</h1>
<p>Find tools to do things with language within the browser</p>
<ul>
	<li>ASCII-Unicode Conversion</li>
</ul>
